* {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
  }

  body {
    font-family: sans-serif;
    background-color: #868186;
  }

  .container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 6200px;
    background-color: #ffffff;
    overflow: hidden;
  }
    header {
      width: 1200px;
      height: 590px;
      background-color: #000;
  }

/* Style for "mycompany" */
  .logo {   
    width: 165px;
    height: 19px;
    color: #ffffff;
    font-family: "Open Sans - Extrabold";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .main-menu {
    list-style: none;
  }

//   .greeting-text {

//   }
    .welcome {
    /* Style for "wELCOME on" */
    width: 550px;
    height: 33px;
    color: #999999;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    .company{
        color: #fcac45;
        font-family: "Open Sans";
        font-weight: 700;
        letter-spacing: -2.2px;
      }
}

.additional-text {
    // Style for "We are additional text"
    width: 685px;
    height: 21px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    // Text style for "We are a d"
    font-family: "Open Sans";
    font-weight: 400;
    letter-spacing: -1px;

.emphasized-text {
    // Text style for "years of e"
    font-family: "Open Sans";
    font-weight: 700;
    letter-spacing: -1px;
    }
}

.about {
    height: 614px;
    background-color: #fff;
}

.team {
    height: 726px;
    background-color: #000;
    span {
        // Style for "our team"
        width: 220px;
        height: 31px;
        color: #ffffff;
        font-family: "Open Sans - Semibold";
        font-size: 42px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }
}

.services {
    height: 736px;
    background-color: #fff;
}

.clients {
  height: 517px; 
  background-color: #000;
}

.some-clients {
  color: #fff;
}

.portfolio {
  height: 1133px;
  background-color: #fff;
}